@using EcommerceMVC.Areas.Admin.Models.ViewModels;
@model HangHoaThemVM
@{
    ViewData["Title"] = "Chi tiết";
}

<table class="table table-sm table-striped table-bordered table-secondary">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenHH)</th>
            <td class="text-primary">@Model.TenHH</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.MaLoai)</th>
            <td class="text-primary">@Model.MaLoai</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td class="text-primary">
                <img class="img-thumbnail" style="width:6rem" src="~/Hinh/HangHoa/@Model.Hinh" />
            </td>
        </tr>
    </tbody>
</table>
