@page
@model IdentityUsersModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<h3 class="bg-primary text-white text-center rounded">Admin User</h3>
<table class="table table-sm table-striped">
<tbody>
<tr>
            <th class="text-primary">User</th>
<td class="text-primary">@Model.AdminUser.UserName</td>
</tr>
<tr>
<th class="text-primary">Email</th>
<td class="text-primary">@Model.AdminUser.Email</td>
</tr>
<tr>
<th class="text-primary">Phone</th>
<td class="text-primary">@Model.AdminUser.PhoneNumber</td>
</tr>
</tbody>
</table>
@functions {
    [Authorize]
    public class IdentityUsersModel : PageModel
    {
        private UserManager<IdentityUser> userManager;
        public IdentityUsersModel(UserManager<IdentityUser> mgr)
        {
            userManager = mgr;
        }
        public IdentityUser AdminUser { get; set; } = new();
        public async Task OnGetAsync()
        {
            AdminUser = await userManager.FindByNameAsync("Admin");
        }
    }
}

